body {
    background-color: #efefef;
    display: flex;
    font-family: "Arial", sans-serif;
    flex-direction: column;
    justify-content: center;
}

main {
    align-self: center;
    /*font-size: 16px;*/
    margin-top: 20px;
    max-width: 650px;
    width: 100%;
}

header > img {
    max-height: 150px;
    width: 100%;
}