<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!--[if lt IE 9]>
        <script src="js/lib/html5shiv.min.js"></script>
    <![endif]-->
</head>
