<!DOCTYPE html>
<html lang="fr">
    {% include head.html %}

    <body>
        <header>
            <img src="img/logo-with-text.svg" />
        </header>

        <main>
            {{ content }}
        </main>
    </body>
</html>
